<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Menú de navegación</title>
  </head>
  <header class="header">
    <div class="container-fluid d-flex justify-content-between align-items-center border-bottom">
      <img class="header__logo" src="./assets/images/JNIC-logo.png" alt="Logo">
      <nav class="header__nav">
        <a href="index.html" class="mx-3">Inicio</a>
        <a href="page2.html" class="mx-3">Ponencias</a>
        <a href="page3.html" class="mx-3">Nota de prensa</a>
        <a href="page4.html" class="mx-3">Contacto</a>
      </nav>
    </div>
  </header>
</html>
